<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Basics/RegistrationForm/css/global.css">
    <link rel="stylesheet" href="/Basics/RegistrationForm/css/forms.css">
    <!--<link rel="stylesheet" href="login.css">-->
</head>

<body>
    <main class="main-container">
        <h1>Login</h1>
        <form action="welcome.html" method="post" class="form-container">

            <div class="form-group">
                <label for="username">Username:</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    autocomplete="username"
                    required
                >
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    autocomplete="current-password"
                    required
                >
            </div>

            <input type="submit" value="Login" id="cta-button">

        </form>

        <p class="register-text">
            Don't have an account?
            <a href="register.html">Register here</a>.
        </p>
    </main>

</body>
</html>
